---
name: Play Test Report
about: Template for submitting a report on a Play Test
title: Play Test Report
labels: Play Test Report
assignees: ''

---

## Rules / Cards Used

See commit [ENTER COMMIT HASH HERE] for the rules / cards used.

<!--If this is a new set of rules / cards provide a brief overview here-->

## Players

<!--  How many players? What were their backgrounds? What Roles did they play as? -->

## Game Report

<!-- Give a brief outline of what happened in the game -->


## Overall Impressions

<!-- What were the Players overall impressions? Did they enjoy it? -->

## Detailed Feedback

<!-- Include any more specific feedback points here -->

## Suggestions for New Mechanics

<!-- If they had ideas for changes to the actual core mechanics / rules put them here -->

## Suggestions for New Content

<!-- If they had ideas for new Roles, Tools, Events etc put them here -->
